body {
  margin: 0;
  width: 100%;
  #level-grid {
    width: 640px;
    height: 640px;
    border: solid 3px red;
  }
  #default-bob {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: black;
  }
}
